* {
    font-family: helvetica, sans-serif;
    font-size: 18px;
    /*border: solid red;*/
    background-color:honeydew;

}

.img-cook {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.pages-links {
    display:block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    font-size: 32px;
    text-align: center;
    background: yellow;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size:30px;
}

.dish-img {
    height: 350px;
    width: auto;
    margin-top:80px;
}

.flex-container{
    display:flex;
}

#block-one {
    flex: 1;
    border-color:blue;
    width:200px;
    padding:20px
}

.ingredients li,
.steps li,
.description
 {
    background-color: lightgoldenrodyellow;
}

#block-one p,ul{
    width:750px;
}

h2 {
    padding: 0,10px;
}
ol {
    text-align: left;
    width: 1000px;
    list-style-position: inside;
}

ol li {
    padding:5px;
}

ul {
    list-style-position: inside;
    padding:0;
}

.appetit {
    height: 250px;
}
.home{
    padding-top: 20px;
    text-align: left;
    margin-left: auto;
    font-size: 22px;
}